.hero {
    background-image: url('../img/gym1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.hero h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}
.hero .btn-s2 {
    background-color: rgba(0,0,0,0);
    border-color: #ffffff;
    color: #fff;
}
.hero .btn-s2:hover {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
}
.hero .btn-s {
    background-color: #6b75ff;
    border-color: #6b75ff;
}
.hero .btn-s:hover {
    background-color: #4a56fc;
    border-color: #4a56fc;
}
.features {
    background-color: #f8f9fa;
    padding: 80px 0;
}
.feature {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.feature img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    border-radius: 10px;

}
.feature h3 {
    font-size: 24px;
    font-weight: bold;
}
.feature p {
    font-size: 18px;
    margin-top: 10px;
}


.fas{
    font-size:60px;
}
.landingImage{
    border-radius: 10px;
}
#registrationImage{
    height: 100rem
}
#registerCard{
    margin-left: 16rem;
    margin-top: 2rem;
}

#thirdRegcolumn{
    padding: 3rem;
}

#registerPart{
    background-image: url('../img/GymbackReg.jpg');
}
#loginPart {
    background-image: url('../img/darkJim.jpg');
}
.about-us{
    margin-top: 5rem;
}

.about-us h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }

  .about-us p {
    font-size: 20px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
  }

  .btn-s3{
    border-color: #000000;
    color: #000000;
  }

  .btn-s3:hover{
    background-color: #000000;
    color: #FFFF
  }

  footer{
    color: #ffff;
  }
  .blockquote-footer {
    font-size: large;
    font-style: italic;
    color: #999;
  }
